<div class="lista">
  <div class="back">
    <a href="/departamentos" class="backBtn">
      < Voltar</a>
  </div>
  <div class="atrs" style="display: flex;">
    <h2 class="nms" style="font-family: Arial, Helvetica, sans-serif; margin-left: 10px;">Nome</h2>
    <h2 class="nms">RG</h2>
    <a href="/criar-funcionario">
      <input class="addBtn" value="+ Incluir novo" type="button"><!-- Clicar para chamar o método create -->
    </a>
  </div>
  <!-- Assim que executado o programa chama o método read e retorna todos os registros -->
  <div class="itemLista" *ngFor="let u of users; let i = index">
    <!-- O ngFor vai replicar a div para cada departamento na lista -->
    <img src={{u.foto}} />
    <h1 class="nmDep">{{u.nome}}</h1> <!-- Nome do departamento -->
    <h1 class="nmDep">{{u.rg}}</h1>
    <div class="crud">
      <img class="crudImg" src='assets\bin.png' (click)="deleta(u.nome, i, u.id)" />
      <!-- Clicar para chamar o método delete -->
      <a href="/funcionarios" class="delete" (click)="deleta(u.nome, i, u.id)">Deletar</a>
      <img class="crudImg" src='assets\editing.png' /><!-- Clicar para chamar o método update -->
      <a href="/altera-funcionario" class="edit" (click)="getId(i, u.id)">Alterar</a>
    </div>
  </div>
</div>
