<div class="lista"> <!-- Assim que executado o programa chama o método read e retorna todos os registros -->
  <div class="itemLista"> <!-- O ngFor vai replicar a div para cada departamento na lista -->
    <h1 class="nmDep">TESTE</h1> <!-- Nome do departamento -->
    <div class="crud">
      <img class="crudImg" src='assets\bin.png'/><!-- Clicar para chamar o método delete -->
      <h3 class="delete">Deletar</h3>
      <img class="crudImg" src='assets\editing.png'/><!-- Clicar para chamar o método update -->
      <h3 class="edit">Alterar</h3>
    </div>
  </div>
  <div class="itemLista"> <!-- O ngFor vai replicar a div para cada departamento na lista -->
    <h1 class="nmDep">TESTE</h1> <!-- Nome do departamento -->
    <div class="crud">
      <img class="crudImg" src='assets\bin.png'/><!-- Clicar para chamar o método delete -->
      <h3 class="delete">Deletar</h3>
      <img class="crudImg" src='assets\editing.png'/><!-- Clicar para chamar o método update -->
      <h3 class="edit">Alterar</h3>
    </div>

  </div>
  <div class="itemLista"> <!-- O ngFor vai replicar a div para cada departamento na lista -->
    <h1 class="nmDep">TESTE</h1> <!-- Nome do departamento -->
    <div class="crud">
      <img class="crudImg" src='assets\bin.png'/><!-- Clicar para chamar o método delete -->
      <h3 class="delete">Deletar</h3>
      <img class="crudImg" src='assets\editing.png'/><!-- Clicar para chamar o método update -->
      <h3 class="edit">Alterar</h3>
    </div>

  </div>
  <div class="itemLista"> <!-- O ngFor vai replicar a div para cada departamento na lista -->
    <h1 class="nmDep">TESTE</h1> <!-- Nome do departamento -->
    <div class="crud">
      <img class="crudImg" src='assets\bin.png'/><!-- Clicar para chamar o método delete -->
      <h3 class="delete">Deletar</h3>
      <img class="crudImg" src='assets\editing.png'/><!-- Clicar para chamar o método update -->
      <h3 class="edit">Alterar</h3>
    </div>

  </div>
  <div class="itemLista"> <!-- O ngFor vai replicar a div para cada departamento na lista -->
    <h1 class="nmDep">TESTE</h1> <!-- Nome do departamento -->
    <div class="crud">
      <img class="crudImg" src='assets\bin.png'/><!-- Clicar para chamar o método delete -->
      <h3 class="delete">Deletar</h3>
      <img class="crudImg" src='assets\editing.png'/><!-- Clicar para chamar o método update -->
      <h3 class="edit">Alterar</h3>
    </div>

  </div>
  <div class="itemLista"> <!-- O ngFor vai replicar a div para cada departamento na lista -->
    <h1 class="nmDep">TESTE</h1> <!-- Nome do departamento -->
    <div class="crud">
      <img class="crudImg" src='assets\bin.png'/><!-- Clicar para chamar o método delete -->
      <h3 class="delete">Deletar</h3>
      <img class="crudImg" src='assets\editing.png'/><!-- Clicar para chamar o método update -->
      <h3 class="edit">Alterar</h3>
    </div>

  </div>
  <div class="addBtn"><!-- Clicar para chamar o método create -->
    <h1 class="mais">+</h1>
  </div>
</div>
<router-outlet></router-outlet>
