.lista {
  justify-content: space-between;
  height: 100%;
  min-width: 595px;
  background-color: #e3e3e3;
  border-radius: 15px;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  margin: 10%;
  border-width: 2px;
  flex-direction: row;
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.539);
}

.itens {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
  justify-content: space-between;
  flex-direction: row;
}

.nomes {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.itemLista {
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.539);
  height: 60px;
  border-width: 2px;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.itemLista:hover {
  border-color: #0066FF;
  transition: background 0.4s, border 0.4s, border-radius 0.4s, box-shadow 0.4s;
}

.nmDep {
  align-self: center;
  font-weight: lighter;
  width: auto;
  width: 50%;
  font-size: 25px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.crud {
  float: right;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.crudImg {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  align-self: center;
}

.delete {
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  text-decoration: none;
  align-self: center;
  font-size: 19px;
}

.edit {
  text-decoration: none;
  font-size: 19px;
  font-weight: lighter;
  color: #0066FF;
  align-self: center;
}

.addBtn {
  color: white;
  border-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  margin-top: 20px;
  align-self: center;
  margin-right: 2%;
  background-color: #61b23c;
  width: auto;
  height: 47px;
  display: flex;
  font-size: 20px;
  float: right;
  border-radius: 5px;
  align-content: center;
  justify-content: center;
}
